
 

html, body {
   /* overflow-x: hidden;*/
	height: 100%;
	margin: 0;
    background-image: url(../assets/jab_logo_black.png);
    background-repeat: no-repeat;
    background-position:center;
    background-position-y: 50%;
    background-size: 10%;
    background-attachment: fixed;

}




.container-fluid {
    
    padding-right: 15px; 
    padding-left: 15px; 
    margin-right: auto;
    margin-left: auto;
}

.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
/*.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}*/



.logo {
    vertical-align: middle;
    border-style: none;
    width: 10%;
    margin-top: 10%;
}


.imgLogoBackground{

    z-index: 1000;
}



.vsImg{


    width: 100%;

}

.fixed{
    position: fixed;
    display: none;
}


.bg {
	height: 100%;
	background: #1e1a1a;
  	width: 100%;
  	opacity: 1;
}

.downArrow, .projButtonShow{
	width: 8vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: red; 
}


.show {
  opacity: 0;
}

.transition  {    
  -webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}


.name{
    color: white;
    font-family: 'M PLUS 1p', sans-serif;
	font-size: 15vh;
	text-align: center;
    position: relative;
    top: 25%;
	}

.projText{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e1a1a;
    line-height: 1.5em;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
}

.right{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    line-height: 1.5em;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
}


.buttonLinks{
    width: 14%;
    /* position: absolute; */
    bottom: 100px;
    left: 280px;
    padding: 5px;
    display: inline-flex;
}

.cta{
    width: 15%;
    /* position: absolute; */
    bottom: 100px;
    left: 280px;
    padding: 5px;
    display: inline-flex;

}

.projSummary{
    padding: 15px 30px;
    color: #fff;
    text-align: center;
    /* width: 300px; */
    align-self: center;
}

.countryGent{
    margin-top: 20%;

}

.projDetail{
    font-weight: 200;
}

p{
	font-size: 1em;
}

#pgOne{
	margin-top: 10%;

}
.pgOneWords{
	margin: 15% 0;
    padding: 5%;
}

.row{
	text-align: center;
    margin: 0;
    
}

.col{
    padding: 0;
}

.iconLink{
    padding: 5px;
}









